<h1>Virtual Scroll</h1>
<hr>

<div class="row">
    <div class="col">
        <button class="btn btn-primary" (click)="irFinal()">
            Ir al Final
        </button>
    </div>
    <div class="col">
        <button class="btn btn-primary" (click)="irMitad()">
            Ir a la Mitad
        </button>
    </div>
    <div class="col text-end">
        <button class="btn btn-secondary" (click)="irInicio()">
            Ir al Inicio
        </button>
    </div>
</div>

<br>

 <cdk-virtual-scroll-viewport class="list-container list-group " itemSize="50">
    <div class="list-group-item animate__animated animate__bounceInRight" *cdkVirtualFor="let persona of personas; let i = index; let conteo = count">
        Item {{ i }} / conteo
    </div>
</cdk-virtual-scroll-viewport>

